flow.json
[{"id":"ad161ba.567e2e8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"a8da6be3.80bbf","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["78bd78f8.b339a","c0fe1d40.e994f8","cce63b59.37f9f","ae42116e.97f1f8","8e9cefc8.0e7ca","a8d852d5.e514f","f6f01a6a.85b5e8","b8124e81.aca62","fafb4386.0ddd8","23a888a.9f75478","485b413b.9a524","8ffa8237.5828a","e870da7f.0364d8","6b63c84e.4c3a28","c01c83cf.7aba38","bff364cb.eaafa"],"x":74,"y":299,"w":1402,"h":482},{"id":"179c3fc7.d8ffd","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ac4155ba.8653e8","bae33f33.e5ea08"],"x":634,"y":1199,"w":392,"h":82},{"id":"2db9355b.ca21ea","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["897a3102.b0b6b","d10eea94.2674d","c8a4b9d7.91a9e","200ec60b.df8f0a","6c7b443b.4cd7b4","5359f8c2.cc9c","c8b66a17.d50888","1a0f635.5573e9d","2d13d519.3717e2","c43e583e.adb8c8","1462e0a1.084387","71cf2d72.b8001c","edbf5bab.3bc328","a4440456.e4c4f8"],"x":74,"y":799,"w":952,"h":322},{"id":"cad2e900.af7cf","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["54fcc68c.1404e","b5ee16e.a649fe8","72b97e14.59c56","b213ea66.f4d2c8","5409754e.a1194c","86819870.753db","9b552111.8026d"],"x":1074,"y":1079,"w":692,"h":202},{"id":"59fab106.9f2fa8","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3609e5f6.ccf652","58a7ad67.9cbd74"],"x":74,"y":99,"w":352,"h":82},{"id":"1398dfdd.5fef2","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4c8ad60d.786d1","c3d7d22.2c8763","b95e222a.d4114","1ad122f5.88084d","42a21344.b9d32c","9d1ba220.17f108"],"x":1394,"y":799,"w":632,"h":262},{"id":"f990948d.4b9e48","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e98775fb.c813f8","b5dee48f.7124e8","ca0332fa.804ce"],"x":74,"y":199,"w":732,"h":82},{"id":"6998f68e.739fd8","type":"group","z":"ad161ba.567e2e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1c357894.fd6c67","e97c4f7a.07027"],"x":74,"y":1199,"w":372,"h":82},{"id":"f23c83c5.06e04","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2046923.36d89","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"912bfd01.d74dd8","type":"ui_group","z":"","name":"Default","tab":"a2046923.36d89","order":1,"disp":false,"width":"9","collapse":false},{"id":"424b131d.7c4444","type":"ui_spacer","name":"spacer","group":"912bfd01.d74dd8","order":2,"width":1,"height":1},{"id":"3093e328.b5d0d4","type":"ui_spacer","name":"spacer","group":"912bfd01.d74dd8","order":7,"width":9,"height":1},{"id":"9379d093.096c1","type":"bb3-connection","z":"","name":"BB3","host":"192.168.10.100","port":"5025","autoConnect":false},{"id":"f72edb7f.7abb98","type":"comment","z":"ad161ba.567e2e8","name":"Readme first","info":"Required nodes:\n@eez-open/node-red-contrib-bb3\nnode-red-contrib-counter\nnode-red-dashboard","x":150,"y":60,"wires":[]},{"id":"78bd78f8.b339a","type":"status","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","scope":["3609e5f6.ccf652"],"x":160,"y":340,"wires":[["c0fe1d40.e994f8","ae42116e.97f1f8"]]},{"id":"c0fe1d40.e994f8","type":"ui_text","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","group":"912bfd01.d74dd8","order":4,"width":0,"height":0,"name":"","label":"Connection status: {{status.text.toUpperCase()}}","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":340,"wires":[]},{"id":"cce63b59.37f9f","type":"bb3-query","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","connection":"9379d093.096c1","query":"*IDN?","queryType":"str","x":670,"y":420,"wires":[["8e9cefc8.0e7ca","b8124e81.aca62"]]},{"id":"ae42116e.97f1f8","type":"switch","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":420,"wires":[["a8d852d5.e514f"],["f6f01a6a.85b5e8"]]},{"id":"8e9cefc8.0e7ca","type":"ui_text","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","group":"912bfd01.d74dd8","order":5,"width":0,"height":0,"name":"","label":"IDN: ","format":"{{msg.payload}}","layout":"row-left","x":910,"y":420,"wires":[]},{"id":"a8d852d5.e514f","type":"delay","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":420,"wires":[["cce63b59.37f9f"]]},{"id":"f6f01a6a.85b5e8","type":"change","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["8e9cefc8.0e7ca","23a888a.9f75478"]]},{"id":"b8124e81.aca62","type":"bb3-query","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","connection":"9379d093.096c1","query":"SYST:SLOT:MOD? 1","queryType":"str","x":540,"y":600,"wires":[["fafb4386.0ddd8"]]},{"id":"fafb4386.0ddd8","type":"switch","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DC","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":600,"wires":[["23a888a.9f75478","8ffa8237.5828a","bff364cb.eaafa"]]},{"id":"23a888a.9f75478","type":"ui_text","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","group":"912bfd01.d74dd8","order":6,"width":0,"height":0,"name":"","label":"Model:","format":"{{msg.payload}}","layout":"row-left","x":910,"y":600,"wires":[]},{"id":"485b413b.9a524","type":"ui_numeric","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","label":"Relay voltage [V]:","tooltip":"","group":"912bfd01.d74dd8","order":8,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"3","max":"24","step":"0.5","x":1150,"y":660,"wires":[["e870da7f.0364d8"]]},{"id":"8ffa8237.5828a","type":"change","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"Default voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":660,"wires":[["485b413b.9a524"]]},{"id":"e870da7f.0364d8","type":"change","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","rules":[{"t":"set","p":"voltage","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":660,"wires":[[]]},{"id":"6b63c84e.4c3a28","type":"ui_numeric","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","label":"Delay [s]:","tooltip":"","group":"912bfd01.d74dd8","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0.02","max":"5","step":"0.01","x":1130,"y":740,"wires":[["c01c83cf.7aba38"]]},{"id":"c01c83cf.7aba38","type":"change","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"","rules":[{"t":"set","p":"delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":740,"wires":[[]]},{"id":"bff364cb.eaafa","type":"change","z":"ad161ba.567e2e8","g":"a8da6be3.80bbf","name":"Default delay","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":740,"wires":[["6b63c84e.4c3a28"]]},{"id":"ac4155ba.8653e8","type":"ui_button","z":"ad161ba.567e2e8","g":"179c3fc7.d8ffd","name":"","group":"912bfd01.d74dd8","order":12,"width":3,"height":1,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":720,"y":1240,"wires":[["bae33f33.e5ea08"]]},{"id":"bae33f33.e5ea08","type":"change","z":"ad161ba.567e2e8","g":"179c3fc7.d8ffd","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1240,"wires":[["b5ee16e.a649fe8","b213ea66.f4d2c8","86819870.753db"]]},{"id":"897a3102.b0b6b","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"CURR 0.1","commandType":"str","x":490,"y":920,"wires":[["a4440456.e4c4f8"]]},{"id":"d10eea94.2674d","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"SYST:DIG:PIN1:FUNC DINP","commandType":"str","x":740,"y":840,"wires":[["c8a4b9d7.91a9e"]]},{"id":"c8a4b9d7.91a9e","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"SYST:DIG:PIN3:FUNC DOUT","commandType":"str","x":250,"y":920,"wires":[["897a3102.b0b6b"]]},{"id":"200ec60b.df8f0a","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"SYST:DEL 10","commandType":"str","x":540,"y":1000,"wires":[["c8b66a17.d50888"]]},{"id":"6c7b443b.4cd7b4","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"\"VOLT \" & $flowContext(\"voltage\")","commandType":"jsonata","x":280,"y":1000,"wires":[["200ec60b.df8f0a"]]},{"id":"5359f8c2.cc9c","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"SYST:DIG:OUTP:DATA 3, 1","commandType":"str","x":880,"y":920,"wires":[["6c7b443b.4cd7b4"]]},{"id":"c8b66a17.d50888","type":"bb3-query","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","query":"SYST:DIG:INP:DATA? 1","queryType":"str","x":770,"y":1000,"wires":[["54fcc68c.1404e"]]},{"id":"1a0f635.5573e9d","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"VOLT MIN","commandType":"str","x":190,"y":1080,"wires":[["c43e583e.adb8c8"]]},{"id":"2d13d519.3717e2","type":"ui_button","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","group":"912bfd01.d74dd8","order":10,"width":3,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":840,"wires":[["1462e0a1.084387"]]},{"id":"c43e583e.adb8c8","type":"switch","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"Check STOP","property":"stop","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1080,"wires":[["71cf2d72.b8001c"]]},{"id":"1462e0a1.084387","type":"change","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","rules":[{"t":"set","p":"stop","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":840,"wires":[["edbf5bab.3bc328"]]},{"id":"71cf2d72.b8001c","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"\"SYST:DEL \" & $round($flowContext(\"delay\") * 1000)","commandType":"jsonata","x":680,"y":1080,"wires":[["6c7b443b.4cd7b4"]]},{"id":"edbf5bab.3bc328","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"*RST","commandType":"str","x":530,"y":840,"wires":[["d10eea94.2674d"]]},{"id":"a4440456.e4c4f8","type":"bb3-command","z":"ad161ba.567e2e8","g":"2db9355b.ca21ea","name":"","connection":"9379d093.096c1","command":"OUTP 1","commandType":"str","x":660,"y":920,"wires":[["5359f8c2.cc9c"]]},{"id":"54fcc68c.1404e","type":"switch","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","name":"Check result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":1120,"wires":[["b5ee16e.a649fe8","86819870.753db"],["b213ea66.f4d2c8","86819870.753db"]]},{"id":"b5ee16e.a649fe8","type":"counter","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","name":"Pass counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1450,"y":1120,"wires":[["72b97e14.59c56","c3d7d22.2c8763"]]},{"id":"72b97e14.59c56","type":"ui_text","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","group":"912bfd01.d74dd8","order":13,"width":0,"height":0,"name":"","label":"Passed:","format":"{{msg.count}}","layout":"row-spread","x":1680,"y":1120,"wires":[]},{"id":"b213ea66.f4d2c8","type":"counter","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","name":"Fall counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1450,"y":1180,"wires":[["5409754e.a1194c","b95e222a.d4114"]]},{"id":"5409754e.a1194c","type":"ui_text","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","group":"912bfd01.d74dd8","order":14,"width":0,"height":0,"name":"","label":"Failed:","format":"{{msg.count}}","layout":"row-spread","x":1670,"y":1180,"wires":[]},{"id":"86819870.753db","type":"counter","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","name":"Total counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1450,"y":1240,"wires":[["1a0f635.5573e9d","9b552111.8026d"]]},{"id":"9b552111.8026d","type":"ui_text","z":"ad161ba.567e2e8","g":"cad2e900.af7cf","group":"912bfd01.d74dd8","order":15,"width":0,"height":0,"name":"","label":"Total:","format":"{{msg.count}}","layout":"row-spread","x":1670,"y":1240,"wires":[]},{"id":"3609e5f6.ccf652","type":"bb3-connect","z":"ad161ba.567e2e8","g":"59fab106.9f2fa8","name":"BB3-1","connection":"9379d093.096c1","x":350,"y":140,"wires":[]},{"id":"58a7ad67.9cbd74","type":"ui_button","z":"ad161ba.567e2e8","g":"59fab106.9f2fa8","name":"","group":"912bfd01.d74dd8","order":1,"width":4,"height":1,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":140,"wires":[["3609e5f6.ccf652"]]},{"id":"4c8ad60d.786d1","type":"ui_chart","z":"ad161ba.567e2e8","g":"1398dfdd.5fef2","name":"","group":"912bfd01.d74dd8","order":16,"width":0,"height":0,"label":"Results","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#11f71a","#f61114","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1940,"y":960,"wires":[[]]},{"id":"c3d7d22.2c8763","type":"change","z":"ad161ba.567e2e8","g":"1398dfdd.5fef2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Passed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":960,"wires":[["4c8ad60d.786d1"]]},{"id":"b95e222a.d4114","type":"change","z":"ad161ba.567e2e8","g":"1398dfdd.5fef2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1020,"wires":[["4c8ad60d.786d1"]]},{"id":"1ad122f5.88084d","type":"change","z":"ad161ba.567e2e8","g":"1398dfdd.5fef2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"Passed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":840,"wires":[["4c8ad60d.786d1","42a21344.b9d32c"]]},{"id":"42a21344.b9d32c","type":"change","z":"ad161ba.567e2e8","g":"1398dfdd.5fef2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":900,"wires":[["4c8ad60d.786d1"]]},{"id":"9d1ba220.17f108","type":"inject","z":"ad161ba.567e2e8","g":"1398dfdd.5fef2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1510,"y":840,"wires":[["1ad122f5.88084d"]]},{"id":"e98775fb.c813f8","type":"ui_button","z":"ad161ba.567e2e8","g":"f990948d.4b9e48","name":"","group":"912bfd01.d74dd8","order":3,"width":4,"height":1,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":240,"wires":[["ca0332fa.804ce"]]},{"id":"b5dee48f.7124e8","type":"bb3-disconnect","z":"ad161ba.567e2e8","g":"f990948d.4b9e48","name":"","connection":"9379d093.096c1","x":690,"y":240,"wires":[]},{"id":"ca0332fa.804ce","type":"bb3-command","z":"ad161ba.567e2e8","g":"f990948d.4b9e48","name":"","connection":"9379d093.096c1","command":"OUTP 0","commandType":"str","x":400,"y":240,"wires":[["b5dee48f.7124e8"]]},{"id":"1c357894.fd6c67","type":"ui_button","z":"ad161ba.567e2e8","g":"6998f68e.739fd8","name":"","group":"912bfd01.d74dd8","order":11,"width":3,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1240,"wires":[["e97c4f7a.07027"]]},{"id":"e97c4f7a.07027","type":"change","z":"ad161ba.567e2e8","g":"6998f68e.739fd8","name":"","rules":[{"t":"set","p":"stop","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1240,"wires":[[]]}]