flow.json
[{"id":"ad161ba.567e2e8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"f23c83c5.06e04","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2046923.36d89","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"912bfd01.d74dd8","type":"ui_group","z":"","name":"Default","tab":"a2046923.36d89","order":1,"disp":false,"width":"9","collapse":false},{"id":"424b131d.7c4444","type":"ui_spacer","name":"spacer","group":"912bfd01.d74dd8","order":2,"width":1,"height":1},{"id":"3093e328.b5d0d4","type":"ui_spacer","name":"spacer","group":"912bfd01.d74dd8","order":7,"width":9,"height":1},{"id":"9379d093.096c1","type":"bb3-connection","z":"","name":"BB3","host":"192.168.10.100","port":"5025","autoConnect":false},{"id":"bcc1a950.7e9ef8","type":"status","z":"ad161ba.567e2e8","name":"","scope":["2a120bae.d23c6c"],"x":180,"y":260,"wires":[["bb8dde3f.858ef8","65c79f07.17fba8"]]},{"id":"bb8dde3f.858ef8","type":"ui_text","z":"ad161ba.567e2e8","group":"912bfd01.d74dd8","order":4,"width":0,"height":0,"name":"","label":"Connection status: {{status.text.toUpperCase()}}","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":260,"wires":[]},{"id":"e7509636.daf2c","type":"ui_button","z":"ad161ba.567e2e8","name":"","group":"912bfd01.d74dd8","order":1,"width":4,"height":1,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":100,"wires":[["2a120bae.d23c6c"]]},{"id":"4cb71dbf.37ae04","type":"ui_button","z":"ad161ba.567e2e8","name":"","group":"912bfd01.d74dd8","order":3,"width":4,"height":1,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":180,"wires":[["79764987.0c3ee"]]},{"id":"65c79f07.17fba8","type":"switch","z":"ad161ba.567e2e8","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":340,"wires":[["b38eb278.36eca8"],["b7fba0c4.e708b"]]},{"id":"9a1918c5.940d78","type":"ui_text","z":"ad161ba.567e2e8","group":"912bfd01.d74dd8","order":5,"width":0,"height":0,"name":"","label":"IDN: ","format":"{{msg.payload}}","layout":"row-left","x":930,"y":340,"wires":[]},{"id":"b38eb278.36eca8","type":"delay","z":"ad161ba.567e2e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":340,"wires":[["963f798b.3cdf68"]]},{"id":"b7fba0c4.e708b","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["9a1918c5.940d78","3e3c00e2.a831a8"]]},{"id":"bc71e82d.3cc828","type":"switch","z":"ad161ba.567e2e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DC","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":540,"wires":[["3e3c00e2.a831a8","7570cfcb.dc6668","e14833e8.12ee7"]]},{"id":"3e3c00e2.a831a8","type":"ui_text","z":"ad161ba.567e2e8","group":"912bfd01.d74dd8","order":6,"width":0,"height":0,"name":"","label":"Model:","format":"{{msg.payload}}","layout":"row-left","x":950,"y":540,"wires":[]},{"id":"81799069.cfc41","type":"switch","z":"ad161ba.567e2e8","name":"Check result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1200,"wires":[["965a50f.5436ab","7fed329a.989134"],["47433b0d.58f8d4","7fed329a.989134"]]},{"id":"965a50f.5436ab","type":"counter","z":"ad161ba.567e2e8","name":"Pass counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1290,"y":1200,"wires":[["ca02df95.3b1a48","40428731.831bc"]]},{"id":"ca02df95.3b1a48","type":"ui_text","z":"ad161ba.567e2e8","group":"912bfd01.d74dd8","order":13,"width":0,"height":0,"name":"","label":"Passed:","format":"{{msg.count}}","layout":"row-spread","x":1520,"y":1200,"wires":[]},{"id":"47433b0d.58f8d4","type":"counter","z":"ad161ba.567e2e8","name":"Fall counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1290,"y":1260,"wires":[["31d08f81.b79b18","c7ab01c4.3b21e"]]},{"id":"31d08f81.b79b18","type":"ui_text","z":"ad161ba.567e2e8","group":"912bfd01.d74dd8","order":14,"width":0,"height":0,"name":"","label":"Failed:","format":"{{msg.count}}","layout":"row-spread","x":1510,"y":1260,"wires":[]},{"id":"7fed329a.989134","type":"counter","z":"ad161ba.567e2e8","name":"Total counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1290,"y":1320,"wires":[["3ea7f401.68ed64","8c7d2d20.110e18"]]},{"id":"8c7d2d20.110e18","type":"ui_text","z":"ad161ba.567e2e8","group":"912bfd01.d74dd8","order":15,"width":0,"height":0,"name":"","label":"Total:","format":"{{msg.count}}","layout":"row-spread","x":1510,"y":1320,"wires":[]},{"id":"9acffdbd.885f3","type":"ui_chart","z":"ad161ba.567e2e8","name":"","group":"912bfd01.d74dd8","order":16,"width":0,"height":0,"label":"Results","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#11f71a","#f61114","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1740,"y":1000,"wires":[[]]},{"id":"40428731.831bc","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Passed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1000,"wires":[["9acffdbd.885f3"]]},{"id":"c7ab01c4.3b21e","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1060,"wires":[["9acffdbd.885f3"]]},{"id":"6069c5fe.c7b054","type":"ui_numeric","z":"ad161ba.567e2e8","name":"","label":"Relay voltage [V]:","tooltip":"","group":"912bfd01.d74dd8","order":8,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"3","max":"24","step":"0.5","x":560,"y":700,"wires":[["c012fb4d.8247c"]]},{"id":"7570cfcb.dc6668","type":"change","z":"ad161ba.567e2e8","name":"Default voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":700,"wires":[["6069c5fe.c7b054"]]},{"id":"1468b3cd.9cc0f4","type":"ui_button","z":"ad161ba.567e2e8","name":"","group":"912bfd01.d74dd8","order":10,"width":3,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":840,"wires":[["a755ac5d.d1448"]]},{"id":"86d66a9e.1ce62","type":"ui_button","z":"ad161ba.567e2e8","name":"","group":"912bfd01.d74dd8","order":11,"width":3,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":840,"wires":[["9722c0e5.72c94"]]},{"id":"9722c0e5.72c94","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"stop","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":840,"wires":[[]]},{"id":"ad8c4f77.52228","type":"switch","z":"ad161ba.567e2e8","name":"Check STOP","property":"stop","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1400,"wires":[["d247d89a.9cbd4"]]},{"id":"a755ac5d.d1448","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"stop","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":840,"wires":[["92b3c4e5.0e60a"]]},{"id":"c012fb4d.8247c","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"voltage","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":700,"wires":[[]]},{"id":"e821d28a.b3ff08","type":"ui_numeric","z":"ad161ba.567e2e8","name":"","label":"Delay [s]:","tooltip":"","group":"912bfd01.d74dd8","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0.02","max":"5","step":"0.01","x":540,"y":780,"wires":[["900a96ff.0c4808"]]},{"id":"900a96ff.0c4808","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":780,"wires":[[]]},{"id":"e14833e8.12ee7","type":"change","z":"ad161ba.567e2e8","name":"Default delay","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":780,"wires":[["e821d28a.b3ff08"]]},{"id":"fdcbd637.22444","type":"ui_button","z":"ad161ba.567e2e8","name":"","group":"912bfd01.d74dd8","order":12,"width":3,"height":1,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":840,"y":1080,"wires":[["75d4248e.ff54dc"]]},{"id":"75d4248e.ff54dc","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1080,"wires":[["965a50f.5436ab","47433b0d.58f8d4","7fed329a.989134"]]},{"id":"e1911c35.e7dcf8","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"Passed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":800,"wires":[["9acffdbd.885f3","de087d2f.74c51"]]},{"id":"de087d2f.74c51","type":"change","z":"ad161ba.567e2e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":860,"wires":[["9acffdbd.885f3"]]},{"id":"97a2521a.9d7fb","type":"inject","z":"ad161ba.567e2e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1330,"y":800,"wires":[["e1911c35.e7dcf8"]]},{"id":"67c1aeac.a45cd","type":"comment","z":"ad161ba.567e2e8","name":"Read me first","info":"Required nodes:\n@eez-open/node-red-contrib-bb3\nnode-red-contrib-counter\nnode-red-dashboard","x":180,"y":40,"wires":[]},{"id":"9916a644.8aab28","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"CURR 0.1","commandType":"str","x":170,"y":1100,"wires":[["52205299.1abebc"]]},{"id":"177df914.8299d7","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"SYST:DIG:PIN1:FUNC DINP","commandType":"str","x":400,"y":920,"wires":[["5744a207.7589dc"]]},{"id":"6c720340.80c3c4","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"SYST:DIG:PIN3:FUNC DOUT","commandType":"str","x":400,"y":980,"wires":[["5a4ee46c.978734"]]},{"id":"11cbf0a.b727c0f","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"SYST:DEL 10","commandType":"str","x":580,"y":1200,"wires":[["d119c6e0.96c988"]]},{"id":"f5466cd2.a9b49","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"\"VOLT \" & $flowContext(\"voltage\")","commandType":"jsonata","x":300,"y":1200,"wires":[["11cbf0a.b727c0f"]]},{"id":"79764987.0c3ee","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"OUTP 0","commandType":"str","x":400,"y":180,"wires":[["c31dead6.15c91"]]},{"id":"b31c799.36ef508","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"SYST:DIG:OUTP:DATA 3, 1","commandType":"str","x":580,"y":1100,"wires":[["f5466cd2.a9b49"]]},{"id":"3ea7f401.68ed64","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"VOLT MIN","commandType":"str","x":330,"y":1400,"wires":[["ad8c4f77.52228"]]},{"id":"d247d89a.9cbd4","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"\"SYST:DEL \" & $round($flowContext(\"delay\") * 1000)","commandType":"jsonata","x":880,"y":1400,"wires":[["f5466cd2.a9b49"]]},{"id":"92b3c4e5.0e60a","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"*RST","commandType":"str","x":170,"y":920,"wires":[["177df914.8299d7"]]},{"id":"52205299.1abebc","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"OUTP 1","commandType":"str","x":340,"y":1100,"wires":[["b31c799.36ef508"]]},{"id":"5744a207.7589dc","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"SYST:DIG:PIN1:POL POS","commandType":"str","x":730,"y":920,"wires":[["6c720340.80c3c4"]]},{"id":"5a4ee46c.978734","type":"bb3-command","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","command":"SYST:DIG:PIN3:POL POS","commandType":"str","x":730,"y":980,"wires":[["9916a644.8aab28"]]},{"id":"963f798b.3cdf68","type":"bb3-query","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","query":"*IDN?","queryType":"str","x":750,"y":340,"wires":[["9a1918c5.940d78","46cf498f.bf7da8"]]},{"id":"46cf498f.bf7da8","type":"bb3-query","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","query":"SYST:SLOT:MOD? 1","queryType":"str","x":580,"y":540,"wires":[["bc71e82d.3cc828"]]},{"id":"d119c6e0.96c988","type":"bb3-query","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","query":"SYST:DIG:INP:DATA? 1","queryType":"str","x":850,"y":1200,"wires":[["81799069.cfc41"]]},{"id":"2a120bae.d23c6c","type":"bb3-connect","z":"ad161ba.567e2e8","name":"BB3-1","connection":"9379d093.096c1","x":400,"y":100,"wires":[]},{"id":"c31dead6.15c91","type":"bb3-disconnect","z":"ad161ba.567e2e8","name":"","connection":"9379d093.096c1","x":680,"y":180,"wires":[]}]